<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/main.css">
  <!-- <link rel="stylesheet" href="../static/add_user.css"> -->
  <title>Add User</title>
</head>
<body>
  <a class="back-arrow" href="/"><</a>
  <h3>Add user:</h3>
  <form>
    <input type="text" name="name" id="name_field">
    <br />
    <input type="text" name="fullname" id="fullname_field">
    <br />
    <button type="button" id="submit_button">Add</button>
  </form>
</body>
  <script src="../static/add_user.js"></script>
</html>
